.container {
  display: flex;
  justify-content: center;
  padding: 20px 24px;
}

@media (max-width: 991px) {
  .container {
    padding: 0 20px;
    flex-direction: column;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.side-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.side-menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 12px;
  background-color: #e8edf2;
  border-radius: 12px;
}

.side-menu-item:hover {
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.menu-icon {
  width: 24px;
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
}

.menu-label {
  font-family: Inter, sans-serif;
  font-weight: 500;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .main-content {
    width: 100%;
    margin-left: 0;
  }
}

.dashboard {
  display: flex;
  width: 75%;
  flex-direction: column;
  max-width: 921px;
  padding-bottom: 72px;
}

.dashboard-title {
  font-feature-settings: "dlig" on;
  width: 100%;
  color: #0d171c;
  letter-spacing: -0.8px;
  padding: 16px;
  font: 700 32px Inter, sans-serif;
}

.dashboard-summary,
.financial-summary {
  display: flex;
  gap: 20px;
  padding: 16px;
}

@media (max-width: 991px) {

  .dashboard-summary,
  .financial-summary {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}

.card {
  flex-grow: 1;
  border: 1px solid rgba(209, 222, 229, 1);
  border-radius: 12px;
  color: #0d171c;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-feature-settings: "dlig" on;
  font: 500 16px/150% Inter, sans-serif;
}

.card-value {
  font-feature-settings: "dlig" on;
  letter-spacing: -0.6px;
  margin-top: 8px;
  font: 700 24px Inter, sans-serif;
}

.financial-summary .card-value {
  font: 700 32px Inter, sans-serif;
}

.actions {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 16px;
  margin-top: 20px;
}

.actions-title {
  color: #0d171c;
  font-feature-settings: "dlig" on;
  letter-spacing: -0.33px;
  font: 700 22px Inter, sans-serif;
}

.action-card {
  display: flex;
  justify-content: space-between;
  background-color: #f7fafa;
  border: 1px solid rgba(209, 222, 229, 1);
  border-radius: 12px;
  gap: 16px;
  padding: 20px;
  margin-top: 28px;
}

@media (max-width: 991px) {
  .action-card {
    flex-wrap: wrap;
  }
}

.action-info {
  display: flex;
  flex-direction: column;
}

.action-title {
  color: #0d171c;
  font-feature-settings: "dlig" on;
  font: 700 16px Inter, sans-serif;
}

.action-description {
  color: #4f7a96;
  font-feature-settings: "dlig" on;
  font: 400 16px/150% Inter, sans-serif;
  margin-top: 4px;
}

.action-button {
  background-color: #1c94e3;
  color: #f7fafa;
  font: 500 14px Inter, sans-serif;
  padding: 6px 16px;
  border-radius: 12px;
  align-self: center;
}

.action-button:hover {
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  background-color: #043e74;
}

.secondary-action {
  background-color: #1c94e3;
  color: #f7fafa;
  font: 700 14px Inter, sans-serif;
  padding: 10px 16px;
  border-radius: 12px;
  margin-top: 28px;
  align-self: flex-end;
  width: 155px;
  text-align: center;
}

.secondary-action:hover {
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  background-color: #043e74;
}