.container {
    border-radius: 12px;
    box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.1), 0px 8px 8px -4px rgba(16, 24, 40, 0.04);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    max-width: 640px;
    padding-bottom: 16px;
    margin: 0 auto;
}

.header {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 24px 24px 0;
}

@media (max-width: 991px) {
    .header {
        padding: 0 20px;
    }
}

.profile-img-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .profile-img-container {
        flex-wrap: wrap;
    }
}

.profile-img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 48px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    border: 1px solid rgba(228, 231, 236, 1);
}

.profile-edit-icon {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
}

.edit-title {
    color: #101828;
    margin-top: 16px;
    font: 600 18px/156% Inter, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
    .edit-title {
        max-width: 100%;
    }
}

.editable-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 24px 37px;
}

@media (max-width: 991px) {
    .editable-section {
        padding: 0 20px;
    }
}

.editable-details-section {
    padding-bottom: 20px;
}

.editable-details-title {
    color: #344054;
    font: 500 14px/143% Inter, -apple-system, Roboto, Helvetica, sans-serif;
    margin-top: 16px;
}

@media (max-width: 991px) {
    .editable-details-title {
        max-width: 100%;
    }
}

.details-input-column {
    display: flex;
    flex-direction: column;
    margin-top: 6px;
}

.details-input {
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    border: 1px solid rgba(208, 213, 221, 1);
    background-color: #fff;
    height: 40px;
    margin-top: 6px;
    padding-left: 12px;
}

.training-section {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 20px;
}

.level-training {
    flex: 1;
}

.level-training-title {
    color: #344054;
    font: 500 14px/143% Inter, -apple-system, Roboto, Helvetica, sans-serif;
}

.level-training-container {
    position: relative;
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    border: 1px solid rgba(208, 213, 221, 1);
    background-color: #fff;
    display: flex;
    margin-top: 6px;
    gap: 8px;
    justify-content: space-between;
    padding: 10px 14px;
    font-size: 16px;
    color: #101828;
    align-items: center;

}

.level-training-label {
    font-family: Inter, sans-serif;
}

.level-training-icon {
    width: 20px;
}

.action-buttons {
    display: flex;
    margin-top: 32px;
    width: 100%;
    gap: 12px;
    font-size: 16px;
    font-weight: 600;
    padding: 0 24px 24px;
}

@media (max-width: 991px) {
    .action-buttons {
        padding: 0 20px;
        flex-wrap: wrap;
    }
}

.cancel-button {
    font-family: Inter, sans-serif;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    border: 1px solid rgba(208, 213, 221, 1);
    background-color: #fff;
    color: #344054;
    flex: 1;
    padding: 10px 18px;
}


.confirm-button {
    font-family: Inter, sans-serif;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    border: 1px solid rgba(127, 86, 217, 1);
    background-color: #3484e2;
    color: #fff;
    flex: 1;
    padding: 10px 18px;
}

.profile-edit-icon:hover,
.cancel-button:hover,
.confirm-button:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}


.select-wrapper {
    position: relative;
    margin-top: 8px;
}

.select-input {
    font-feature-settings: "dlig" on;
    font-family: Inter, sans-serif;
    border-radius: 12px;
    border: 1px solid rgba(209, 222, 229, 1);
    /* background-color: #f7fafa; */
    color: #4f7a96;
    font-weight: 400;
    line-height: 150%;
    padding: 15px;
    width: 100%;
    appearance: none;
}

.select-arrow {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    pointer-events: none;
}