.main-container {
    display: flex;
    max-width: 921px;
    padding-bottom: 80px;
    flex-direction: column;
    margin: 0 auto;
  }

  .header {
    justify-content: space-between;
    display: flex;
    width: 100%;
    gap: 20px;
    color: #0d171c;
    font-weight: 700;
    padding: 16px;
  }

  @media (max-width: 991px) {
    .header {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }

  .title {
    font-feature-settings: "dlig" on;
    letter-spacing: -0.8px;
    font: 32px Inter, sans-serif;
  }

  .new-staff {
    justify-content: center;
    border-radius: 12px;
    background-color: #e8edf2;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 20%;
    padding: 4px 8px;
    align-self: self-start;
  }

  .new-staff:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  }


  .new-staff-text {
    font-feature-settings: "dlig" on;
    font-family: Inter, sans-serif;
    background-color: #e8edf2;
    /* justify-content: center; */
  }

  .content {
    display: flex;
    margin-top: 16px;
    width: 100%;
    flex-direction: column;
    padding: 0 16px;
  }

  @media (max-width: 991px) {
    .content {
      max-width: 100%;
    }
  }

  .content-title {
    color: #0d171c;
    font-feature-settings: "dlig" on;
    letter-spacing: -0.27px;
    font: 700 18px Inter, sans-serif;
  }

  @media (max-width: 991px) {
    .content-title {
      max-width: 100%;
    }
  }

  .search-form {
    display: flex;
    align-items: center;
    border-radius: 12px;
    background-color: #e8edf2;
    margin-top: 20px;
    gap: 12px;
    font-size: 16px;
    color: #4f7a96;
    font-weight: 400;
    line-height: 150%;
    padding: 12px 16px;
  }

  @media (max-width: 991px) {
    .search-form {
      flex-wrap: wrap;
    }
  }

  .search-input {
    border: none;
    outline: none;
    font-feature-settings: "dlig" on;
    font-family: Inter, sans-serif;
    background: none;
    flex: 1;
  }

  .search-icon {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
    cursor: pointer;
  }

  .staff-card {
    justify-content: space-between;
    background-color: #f7fafa;
    display: flex;
    margin-top: 12px;
    width: 100%;
    gap: 20px;
    line-height: 150%;
    padding: 8px 17px;
  }

  @media (max-width: 991px) {
    .staff-card {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }

  .staff-info {
    display: flex;
    padding-right: 80px;
    gap: 16px;
  }

  @media (max-width: 991px) {
    .staff-info {
      flex-wrap: wrap;
    }
  }

  .profile-img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 56px;
  }

  .staff-details {
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: auto 0;
  }

  .staff-name {
    color: #0d171c;
    font-feature-settings: "dlig" on;
    font: 500 16px Inter, sans-serif;
  }

  .staff-role {
    color: #4f7a96;
    font-feature-settings: "dlig" on;
    font: 400 14px Inter, sans-serif;
  }

  .action-img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
    cursor: pointer;
    margin: auto 0;
  }